<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Profile - {{user.username}}</title>
</head>
    <style>
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            border-radius: 20px;
            background-color: #4CAF50;
            color: white;
        }
        .hidden-file-input {
            display: none;
        }
        .profile-pic {
            border: 1px solid #ddd; /* Light grey */
            border-radius: 50%;
            padding: 5px;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        .file-upload-btn {
            background-color: #4CAF50;
            color: white;
            border-radius: 20px;
            padding: 10px 24px;
            border: none;
            cursor: pointer;
            margin-top: 10px;
            width: 200px;
            display: inline-block;
            font-size: 0.8rem;
        }
                #confirmPhotoButton {
            display: none; /* Hide the button initially */
        }

        /* Additional styles for when the button is shown */
        #confirmPhotoButton.visible {
            display: block; /* Show the button when a file is selected */
            /* Add any additional styling for the visible state here */
        }

    </style>
    <body>
        {{> navbar}}
        <div class="container mt-5">
            <h1 class="text-center mb-4">Edit Profile</h1>
            <div class="row">
                <div class="col-md-3 text-center">
        <form action="/profile/change-profile-picture" method="POST" enctype="multipart/form-data">
            <!-- Display uploaded image -->
            <img src="data:image/jpeg;base64,{{user.profilePicture}}" alt="Listing Photo" class="profile-pic mb-2">
            <!-- Custom styled button for file upload -->
            <label for="file-upload" class="file-upload-btn">Choose File</label>
            <!-- Hidden file input -->
            <input type="file" id="file-upload" name="profilePicture" accept="image/*" class="hidden-file-input">
            <!-- Submit button to upload the new profile picture -->
            <button type="submit" class="file-upload-btn">Change Profile Picture</button>
        </form>
        </div>
            <div class="col-md-9">
                <form action="/profile/edit-profile" method="POST"m>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" id="username" name="username" value="{{ user.username }}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Phone No" id="phone" name="phone" value="{{ user.phone }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Location" id="location" name="location" value="{{ user.location }}">
                    </div>
                    <button type="submit" class="btn btn-block" style="background-color: #1cae42; color: white; border-radius: 20px; padding: 10px 24px;">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            var fileInput = document.getElementById('file-upload');
            var fileInputLabel = document.querySelector('label[for="file-upload"]'); // Get the label for the file input

            fileInput.addEventListener('change', function() {
                if(fileInput.files.length > 0) {
                    fileInputLabel.textContent = 'Photo/s Uploaded'; // Change the label text
                } else {
                    fileInputLabel.textContent = 'Choose File'; // Change the label text back if no files are selected
                }
            });
        });
    </script>

    <script>
            document.addEventListener('DOMContentLoaded', function() {
            var fileInput = document.getElementById('photosToAdd');
            var confirmButton = document.getElementById('confirmPhotoButton');

            fileInput.addEventListener('change', function() {
                // Show the button only if files are selected
                if(fileInput.files.length > 0) {
                confirmButton.classList.add('visible');
                } else {
                confirmButton.classList.remove('visible');
                }
            });
            });
    </script>
</body>
</html>