<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    {{> navbar}}
    
     <!-- Main content -->
    <div class="container mt-3">
      <div class="row">
        <button class="btn btn-primary d-block d-md-none my-2" type="button" data-bs-toggle="collapse" data-bs-target="#filterSidebar" aria-expanded="false" aria-controls="filterSidebar">
          Filter Options
        </button>
          <!-- Filter column -->
          <div class="col-md-3">
            <div class="d-md-block" id="filterSidebar">
            <h5>Filter by</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="filterCategory">
                <label class="form-check-label" for="filterCategory">Category</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="filterLocation">
                <label class="form-check-label" for="filterLocation">Location</label>
            </div>
            <!-- Add more filters -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="filterNewArrivals">
                <label class="form-check-label" for="filterNewArrivals">New Arrivals</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="filterBestSellers">
                <label class="form-check-label" for="filterBestSellers">Best Sellers</label>
            </div>
            <div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="maxPriceCheck" data-bs-toggle="collapse" data-bs-target="#maxPriceCollapse" aria-expanded="false" aria-controls="maxPriceCollapse">
                <label class="form-check-label" for="maxPriceCheck">Max Price</label>
              </div>
              <div class="collapse" id="maxPriceCollapse">
                <div class="mt-2">
                  <input type="number" class="form-control" id="maxPriceInput" placeholder="Enter max price" disabled>
                </div>
              </div>
            </div>
            <!-- Add as many filters as needed -->
        </div>          
        </div>
        <div class="col-md-9">
          <div class="row">
              <!-- Product cards -->
              {{#each listings}}
              <div class="col-md-4 custom">
                <div class="card h-100" id="{{this._id}}">
                    <img src="data:image/jpeg;base64,{{photos.[0].data}}" class="card-img-top max-height" alt="Listing Photo" id="cardimg">
                    <div class="card-body" id="cardbody">
                        <class class="card-title">&#8369;{{price}}</class>
                        <h5 class="card-text">{{name}}</h5>
                        <p class="text-desc">{{description}}</p>
                    </div>
                     <div class="d-flex justify-content-center mt-2"> <!-- Center the button -->
                        <button class="view btn-outline-primary btn-half-width" id="view-list">View</button>
                    </div>
                </div>
                </div>
              {{/each}}
              <!-- Optionally add pagination here -->
          </div>
        </div>  
      </div>
      </div>
      
      <script src="js/viewlist.js"> </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- Modal Structure -->
      <!-- Modal Structure -->
      <div class="modal fade" id="listingModal" tabindex="-1" role="dialog" aria-labelledby="listingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document"> <!-- Use 'modal-lg' for a larger modal -->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="listingModalLabel">Product Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <!-- Image column -->
                <div class="col-md-6">
                  <img src="" alt="Product" id="modalProductImage" class="img-fluid">
                </div>
                <!-- Details column -->
                <div class="col-md-6">
                  <h3 id="modalProductName"></h3>
                  <p id="modalProductPrice"></p>
                  <p id="modalProductDesc"></p>
                  <p id="modalProductLocation"></p>
                  <div class="modal-actions">
                    <button type="button" class="btn btn-primary">Add to cart</button>
                    <button type="button" class="btn btn-secondary">Chat seller</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<script>
$(document).ready(function() {
  $('.view').on('click', function() {
    // Assuming the view button is inside the .card div
    var card = $(this).closest('.card');

    var listingName = card.find('.card-text').text().trim();
    var listingDesc = card.find('.text-desc').text().trim();
    var listingPrice = card.find('.card-title').text().trim();
    var imgSrc = card.find('.card-img-top').attr('src');
    var listingLocation = "Placeholder for location"; // Replace with actual location data

    // Populate modal elements
    $('#listingModalLabel').text('Product Details');
    $('#modalProductImage').attr('src', imgSrc);
    $('#modalProductName').text(listingName);
    $('#modalProductPrice').text(listingPrice);
    $('#modalProductDesc').text(listingDesc);
    $('#modalProductLocation').text(listingLocation);
    
    // Show the modal
    $('#listingModal').modal('show');
  });
});


</script>
</body>
</html>
