<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Details</title>
</head>
<body>
    <div class="card">
        {{#each listing.photos}}
            <img src="data:image/jpeg;base64,{{this.data}}" class="card-img-top" alt="Listing Photo">
        {{/each}}        
        <div class="card-body">
            <h5 class="card-title">{{listing.name}}</h5>
            <p class="card-text">{{listing.description}}</p>
            <!-- Render user details -->
            <p>Posted By: <a href="/profile/{{user.username}}">{{user.username}}</a></p>
            <p>Email: {{user.email}}</p>
            <p>Location: {{user.location}}</p>
            <p>Contact Number: {{user.phone}}</p>
            <!-- Conditional rendering for edit and delete buttons -->
            {{#if isCurrentUser}}
                    <button onclick="window.location.href='/edit-listing/{{listing._id}}'">Edit</button>
                    <form action="/delete-listing/{{listing._id}}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
            {{/if}}
            <form id="addToCartForm" action="/add-to-cart/{{listing._id}}" method="POST">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: ${{listing.price}}</li>
            <li class="list-group-item">Category: {{listing.category}}</li>
            <li class="list-group-item">Condition: {{listing.condition}}</li>
            <li class="list-group-item">Date Posted: {{formatDate listing.datePosted}}</li>
            <li class="list-group-item">Availability: {{listing.availability}}</li> <!-- New list item for availability -->
        </ul>
    </div>
    <script>
        document.getElementById('addToCartForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            fetch('/add-to-cart/{{listing._id}}', {
                method: 'POST'
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(error => {
                        // Display the error message as an alert
                        alert(error.error);
                    });
                }
                // If request is successful
                alert('Item added to cart successfully!'); // Show success message
                // You can optionally redirect the user or perform other actions here
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle any other errors if needed
            });
        });
    </script>
</body>
</html>
