<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Listings</title>
</head>
<body>
    <h1>Search Listings</h1>
    <form action="/search/results" method="GET">
        <label for="query">Search:</label>
        <input type="text" id="query" name="query" required>
        <label for="category">Search Category:</label>
        <select id="category" name="category">
            <option value="listing">Listings</option>
            <option value="user">Users</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <!-- Handle search results based on category -->
    {{#if listingResults}}
        <h2>Listing Results</h2>
        <ul>
            {{#each listingResults}}
                <li>
                    <img src="data:image/jpeg;base64,{{photos.[0].data}}" class="card-img-top" alt="Listing Photo">
                    <strong>Name:</strong> {{name}}<br>
                    <strong>Type:</strong> {{type}}<br>
                    <strong>Price:</strong> ${{price}}<br>
                    <strong>Description:</strong> {{description}}<br>
                    <strong>User:</strong> {{user}}<br>
                    <strong>Location:</strong> {{location}}<br>
                    <strong>Date Posted:</strong> {{formatDate datePosted}}<br>
                    <strong>Availability:</strong> {{availability}}<br> <!-- New list item for availability -->
                    <div class="d-flex justify-content-center mt-2"> <!-- Center the button -->
                        <a href="/listing/{{_id}}" class="btn btn-outline-primary btn-half-width">View</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{/if}}

    {{#if userResults}}
        <h2>User Results</h2>
        <ul>
            {{#each userResults}}
                <li>
                    <strong>Username:</strong> {{username}}<br>
                    <strong>Email:</strong> {{email}}<br>
                    <strong>Location:</strong> {{location}}<br>
                    <img src="data:image/jpeg;base64,{{profilePicture}}" alt="Profile Image"><br>
                    <strong>Date Joined:</strong> {{formatDate dateJoined}}<br>
                    <div class="d-flex justify-content-center mt-2"> <!-- Center the button -->
                        <a href="/profile/{{username}}" class="btn btn-outline-primary btn-half-width">View</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</body>
</html>
